.related-word {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.related-word-title {
    width: 100%;
    height: auto;
    padding: 5px;
    font-size: 0.9rem;
    font-weight: bold;
    color: #aaaaaa;
}

.related-list {
    width: 100%; 
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.word-cloud-chart {
    width: 100%;
    height: 300px;
    max-width: 300px;
    
}


