.widgetSm-containter {
    flex: 1;
    padding: 20px;
    margin: 10px 10px;
    /* margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 20px; */
    height: 150px;

    border-radius: 30px;
    background-color: #9481FF;
}

.sm-title {
    background-color: transparent;
    font-weight: bold;
    font-size: 0.9rem;
    color: #070707;
}