.comments-container {
    flex: 1;
    padding: 20px;
    border-top: 2px solid #b3b3b3;
    width: 100%;
    height: 100%;
}

.comments-container h2 {
    color: #ccea77;
    width: 100%;
    height: auto;
    padding: 10px;
}

.comments-list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 10px;
}

.comment-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    border-bottom: 0.5px solid #f0f0f0;
}

.comment-header {
    height: 100%;
    /* height: auto; */
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: #ddd;
    /* padding: 10px */
}

.name-label {
    margin-left: 5px;
    color: #007bff;
    font-size: 0.9rem;
    white-space: nowrap; 
}

.comment-body {
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px;     */
}

.comment-content {
    /* padding: 0 10px; */
    font-size: 1rem;
    line-height: 1.5;
    color: white;
}

.reply-button {
    background-color: transparent;
    color: #9481FF;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 0.9rem;
}

.comment-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.comment-time {
    font-size: 0.85rem;
    color: #666;
}


.edit-textarea {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 5px;
    line-height: 1.5;
    font-size: 1rem;
    border: none;
    resize: none;
    color: white;
    background-color: transparent;
    box-sizing: border-box;
}

.comment-edit-button,
.comment-save-button {
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comment-delete-button {
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comment-input {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comment-textarea {
    width: 100%;
    height: auto;
    min-height: 100px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    resize: none;
    color: #070707;
}

.comment-submit-button {
    align-self: flex-end;
    padding: 10px 20px;
    background-color: #9481FF;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.comment-submit-button:hover {
    background-color: #0056b3;
}


