.chart-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.featured-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    grid-gap: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.barChart-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 30px;
    background-color: #77d098;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.pieChart-container,
.doughnutChart-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 30px;
    background-color: #77D098;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.barChart-container canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 100%;
    margin-left: -25px;
    background-color: #77d098;

}


.pieChart-container canvas,
.doughnutChart-container canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 100%;
    margin-left: 15px;
    background-color: #77d098;

}


.chartTitle {
    display: block;
    width: auto;
    height: auto;
    padding: 10px;
    font-weight: bold;
    font-size: 0.9rem;
    color: #070707;
    background-color: transparent;
}

.another-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}


.lineChart-container {
    grid-column: 1 / -1; 
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 350px;
    padding: 10px;
    border-radius: 30px;
    background-color: #1d1d1d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    box-sizing: border-box; 
    flex-shrink: 0; 
}

.lineChart-container canvas {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-right: 20px;
    background-color: #1d1d1d;
}

.lineTitle {
    display: block;
    width: auto;
    height: auto;
    font-weight: bold;
    font-size: 0.9rem;

    padding: 10px;
    color: whitesmoke;
    background-color: transparent;
}

/* .loading-container {
    margin-top: 140px;
    margin-left: 230px;
    padding: 10px;
    width: 50%;

    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;

    animation: fadeIn 2s infinite;
}

@keyframes fadeIn {
    0%, 100% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
} */
