.featured {
    display: grid;
    grid-template-columns: repeat(3, minmax(280px, 1fr));
    grid-gap: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.barChart-container {
    padding: 10px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background-color: #77D098;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.pieChart-container,
.doughnutChart-container {
    padding: 10px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background-color: #77D098;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.barChart-container canvas,
.pieChart-container canvas,
.doughnutChart-container canvas {
    width: 100%; 
    height: 200px;
    background-color: #77D098;
}


.chartTitle {
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    color: #070707;
    background-color: transparent;
}


.lineContainer {
    grid-column: 1 / -1; 
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    height: 350px;
    padding: 20px;
    margin: 10px 0;
    border-radius: 30px;
    background-color: #1d1d1d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.lineContainer canvas {
    width: 100%;
    height: 280px;
    background-color: #1d1d1d;
}

.lineTitle {
    font-weight: bold;
    font-size: 0.9rem;
    margin: 10px;
    color: whitesmoke;
    background-color: transparent;
}

