.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 350px; /* 사이드바를 고려한 조정 */
}

.login-box {
    background-color: #2c2f33; /* Dark */
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: white;
    width: 90%;
    max-width: 400px;
    min-width: 280px;
    margin: auto;
    font-family: 'Arial', sans-serif; /* 글꼴 통일 */
}

.login-box h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #1db954; /* 메인 색상 적용 */
    font-weight: bold;
}

.login-box input {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #1a1a1a; /* 어두운 입력 필드 */
    color: #f0f0f0;
}

.login-box input:focus {
    border-color: #5f5f5f;
    outline: none;
}

.login-box button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #1db954; /* 초록색 버튼 */
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-box button:hover {
    background-color: #17a34a; /* 버튼 호버 시 색상 */
}
