.user-info {
    width: 400px; /* 본문 전체 너비 사용 */
    height: 400px; /* 높이를 키움 */
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #333;
    border: 3px solid #ccea77;
    display: flex;
    flex-direction: column; /* 세로 배치 */
    align-items: center; /* 가운데 정렬 */
    color: #ffffff; /* 글자색: 흰색 */
    font-family: 'Arial', sans-serif;
}

.user-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
    background-color: #333;
    color: #1db954; /* 메인 색상과 어울리게 초록색 */
}

.user-info p {
    font-size: 18px;
    margin-bottom: 20px;
    background-color: #333;
    color: #cccccc; /* 부드러운 회색 */
}

.user-info button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #6E6E6E; /* 메인 버튼 색상 */
    color: #ffffff; /* 글자색 흰색 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 100px;
}

.user-info button:hover {
    background-color: #17a34a; /* 호버 시 더 짙은 초록색 */
}

.user-info button:active {
    background-color: #148037; /* 클릭 시 더 짙은 초록색 */
}

