.dashboard {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    margin: 10px;
    position: relative;
    overflow-x: auto;
    overflow-y: auto;
}

.col-container {
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    position: relative;
    width: 100%;
    flex-grow: 1;
    margin-top: 10px;
    margin-left: 10px;
    /* padding-left: 15px; */
    top: 0;
    right: 0;
    height: 100%;
    box-sizing: border-box;
}

.widgets-container {
    /* margin-left: 255; */
    flex: 4;
    max-width: calc(100% - 250px);
    margin-top: 5px;
    margin-right: auto;
    position: relative;
}


.row-container {
    display: flex;
    flex: 4;
    width: 100%;
    height: 100%;
}


/* loading-container: 로딩 화면 전체 스타일 */
.loading-container {
    position: fixed;
    top: 50px;
    left: 250px;
    width: 150vh;
    height: 90vh;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 9999; */
}

/* 화면 흐림 효과 */
.loading-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: #1D1D1D; */
    background: linear-gradient(90deg, #1D1D1D, #333333);
    border-radius: 30px;
    /* filter: blur(100px); */
    z-index: -1; /* 스피너보다 아래로 */
}

/* 스피너 스타일 */
.loading-container .react-spinner {
    z-index: 10000; /* 스피너가 최상단에 표시되도록 */
}
