.chart {
    background-color: #1d1d1d;
    border-radius: 20px;
    margin: 10px;
    margin-bottom: 20px;
    padding: 30px;
    width: 98%;

}

.chartTitle {
    background-color: #1d1d1d;
    color: white;
    margin-bottom: 20px;
}
