.widgetCol {
    flex: 2;
    padding: 20px;
    margin-bottom: 20px;

    border-radius: 30px;
    background-color: #9488F0;
}

.title {
    font-weight: bold;
    font-size: 0.9rem;
    color: #070707;
    background-color: transparent;
}