/* row-container */
.widgetCol-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0 10px;

    border-radius: 30px;
    background-color: #9481FF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

    /* 스크롤 가능하도록 설정 */
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;

}

.widgetCol-title {
    margin-left: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1rem;
    color: #070707;
    background-color: transparent;
}

/* 비디오 리스트 스타일 */
.videoList {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    box-sizing: border-box;
    background-color: transparent;
}

.videoList::after {
    content: ""; /* 빈 내용 */
    display: block;
    width: 5px; /* 마지막 요소 뒤 여백 */
    flex-shrink: 0; /* 크기가 줄어들지 않음 */
}

/* 개별 비디오 아이템 */
.videoItem {
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 10px;
    flex-shrink: 0;
    background-color: transparent;
}

/* 유튜브 플레이어 */
.youtubePlayer {
    width: 100%; 
    max-width: 280px;
    height: 150px;
    border-radius: 10px;
}

.videoPlayer {
    background-color: transparent;
}

/* 비디오 제목 */
.videoTitle {
    width: 100%;
    max-width: 250px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    background-color: transparent;
}