.widgetLg {
    flex: 2;
    padding: 20px;
    margin-right: 5px;
    height: 150px;

    border-radius: 30px;
    background-color: #ccea77;
}

.title {
    font-weight: bold;
    font-size: 0.9rem;
    color: #070707;
    background-color: transparent;
}